body {
   background-image: linear-gradient(yellow, green);
    
  height: 100%;
}

.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*
.article1 {
  
  padding: 20px;
  text-align:center;
  
}
*/

/*
.header {
  text-align: center;
  padding: 10px 20px 0px 10px;
}

  
}
.button{
  padding: 10px 10px 10px 10px;
  margin: 10px;
  background: #FAA;
  
  
}
.button-div{
  padding: 30px 10px 0px 10px;
}