body {
  background-image:orange;
    
  height: 100vh;
}

.article-container {
  display: flex;
  
}


.article1 {
  flex: 1;
  padding: 20px;
  text-align:center;
  height: 85vh;
  
}

.datadisp {
  border: 10px solid black;
  border-radius: 5px;
  background-color: white;
}
/*
.header {
  text-align: center;
  padding: 10px 20px 0px 10px;
}

  
}
.button{
  padding: 10px 10px 10px 10px;
  margin: 10px;
  background: #FAA;
  
  
}
.button-div{
  padding: 30px 10px 0px 10px;
}